@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.marquee {
  animation: marquee 30s linear infinite; /* Adjust speed with 10s */
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start outside right */
  }
  100% {
    transform: translateX(-100%); /* End outside left */
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px #a9bc41; /* Stroke width and color */
    color: transparent; /* To ensure only the stroke is visible */
  }
}

/* For WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #a9bc41; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 1px solid #f0f0f0; /* Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a9bc41; /* Thumb color on hover */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom utility to hide the scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.colorCircle {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
}

.colorCircle:hover {
  border: 3px solid white;
  outline: 1px solid black;
}

.colorCircle:hover:focus {
  outline: 2px solid black;
}

.range-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #e0e0e0; /* Light background color for the range */
  border-radius: 5px;
  width: 100%;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: white; /* Transparent background for the box */
  border: 4px solid black; /* Black border to create the box effect */
  border-radius: 4px; /* Optional: add rounded corners for a softer box */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Ensures the border is included in the thumb size */
}

.range-input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: white; /* Transparent background for the box */
  border: 4px solid black; /* Black border to create the box effect */
  border-radius: 4px; /* Optional: add rounded corners for a softer box */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Ensures the border is included in the thumb size */
}

.range-input::-ms-thumb {
  width: 18px;
  height: 18px;
  background: white; /* Transparent background for the box */
  border: 4px solid black; /* Black border to create the box effect */
  border-radius: 4px; /* Optional: add rounded corners for a softer box */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Ensures the border is included in the thumb size */
}
